.navTop {
  height: 10vh;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
}
.navbar_links a {
  margin-left: 30px;
  padding: 5px 16px;
  background-color: #8884d8;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

@media screen and (max-width: 500px) {
  .navbar_links a {
    margin-left: 5px;
    padding: 10px 5px;
    font-size: 12px;
  }
}
